<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <form action="" id="reg_form">
        <label for="login">Login:</label>
        <input type="text" id="login" name="login"><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <input type="submit">
    </form>
    <script src="JS/reg_page.js"></script>
</body>
</html>