
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.headerTitle{
    cursor: pointer;
}

.header h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 36px;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 150px;
}

.registration-form, .login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    font-size: 18px;
    color: #333333;
    margin-bottom: 8px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="file"],
.input-group textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus,
.input-group input[type="file"]:focus,
.input-group textarea:focus {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-group input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group input[type="submit"]:hover {
    background-color: #45a049;
}

.login-option, .switch-form {
    text-align: center;
    margin-top: 20px;
}

.login-option p, .switch-form p {
    font-size: 16px;
    color: #555555;
}

.login-option a, .switch-form a {
    color: #4CAF50;
    text-decoration: none;
}

.login-option a:hover, .switch-form a:hover {
    text-decoration: underline;
}

#password-mismatch {
    color: #ff3333;
    font-size: 14px;
    display: none;
}

.avatar-preview {
    text-align: center;
    width: 200px;
    height: 200px;
}

.avatar-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#forumPage {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 70px; 
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding-top: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
    overflow-y: auto;
    height: calc(100vh - 70px);
}

.forum-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.forum-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333333;
}

.create-thread-btn {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-thread-form, .create-message-form {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.messages {
    margin-top: 20px;
}

.message {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.message img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 10px 0;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-icon {
    position: absolute; 
    top: 20px;
    right: 20px;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    cursor: pointer;
}

.unterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unterHeader h2 {
    font-size: 28px;
    color: #333333;
    margin: 0;
    flex: 1;
}

.unterHeader button {
    padding: 14px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.unterHeader button:hover {
    background-color: #45a049;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown button {
    padding: 11px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.thread {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border-top: 2px dashed #d3d3d3;
}

.thread-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    float: left;
}

.thread-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thread-metadata {
    display: flex;
    align-items: center;
}

.thread-score {
    margin-right: 10px;
}

.score-value {
    font-weight: bold;
}

.score-value-post {
    font-weight: bold;
}

.score-value-comment {
    font-weight: bold;
}

.messages {
    margin-top: 20px;
}

.message {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vote-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upvote-button,
.downvote-button {
    margin-bottom: 5px;
}

.message-author {
    font-weight: bold;
    margin-left: 10px; 
}

.profile-page {
    display: none;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.edit-profile-form {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.vote-button{
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 1px;
}

.vote-button-post {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 1px;
}

.vote-button-comment, .comment-add-comment-button, .post-add-comment-button{
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 1px;
}

.vote-button:hover, .vote-button-comment:hover, .vote-button-post:hover, .post-add-comment-button:hover, .show-comments-button:hover, .comment-add-comment-button:hover {
    background-color: #45a049;
}

.vote-button:active .vote-button-comment:active, .vote-button-post:active, .post-add-comment-button:active, .show-comments-button:active, .comment-add-comment-button:active{
    transform: scale(0.95);
}

.vote-button[data-value="1"] {
    color: #fff;
}

.vote-button[data-value="0"] {
    color: #fff; 
}

.vote-button[data-value="-1"] {
    color: #fff;
}

.toggle-btn:hover {
    background-color: #45a049;
}

.toggle-btn:active {
    transform: scale(0.95);
}

.create-thread-btn:active{
    transform: scale(0.95);
}

.show-comments-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    margin: 1px;
}

.show-comments-button:hover {
    background-color: #45a049;
}

.show-comments-button:active{
    transform: scale(0.95);
}

.gray-text {
    color: gray;
}